<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Before starting, select the difficulty level</h1>
        <form class="d-flex flex-column align-items-center justify-content-center form-center" asp-action="DifficultyMode" asp-controller="Play" method="post">

            <select name="difficulty">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>

            <button type="submit">RPS?</button>
        </form>
    </div>
</div>


