<div class="container">
    <div class="content text-center">
        <h1>Oh perfectly!!</h1>
        <h2>What shall we play??</h2>
    </div>

    <form asp-action="" asp-controller="Play" method="post">
        <input type="text" name="gameName" placeholder="game..." />
    </form>
</div>