@using HackM.Models
@model RpsViewModel

<div class="container">
    <h1 class="text-center">Well well well i Like this game</h1>
    @if (Model.UserWin)
    {
        <h1 class="text-center reg">Victory</h1>
    }
    <div class="PRSContent d-flex align-items-center justify-content-between">


        <div class="User-bar">

            <div class="heart-content d-flex align-items-center justify-content-center">
                @for (var i = 0; i < Model.HeartCount; i++)
                {
                    <img src="~/img/Heart.png" />
                }
            </div>


            <div class="streak-content">
                @if (Model.Streak != 0)
                {
                    <h4>Streak :@Model.Streak</h4>
                }
            </div>

        </div>

        <div class="computer-bar d-flex align-items-center justify-content-center flex-column">

            <div class="text-center message-content">
                <h3>@Model.Message</h3>
                <h3>@Model.ComputerMove</h3>
               
            </div>

            @if (Model.HeartCount < 1)
            {
                @await Html.PartialAsync("RPSLosePartial")
            }
            else if (Model.UserWin)
            {
                @await Html.PartialAsync("RPSWinPartial")
            }
            else
            {
                @await Html.PartialAsync("UserMoveFormPartial")
            }
        </div>
            
    </div>
</div>