@using HackM.Models
@model RpsViewModel

<div class="container">
    <div class="PRSContent">

        <h1 class="text-center">Well well well i Like this game</h1>

        <div class="heart-content">
            @for (var i = 0; i < Model.HeartCount; i++)
            {
                <img src="~/img/Heart.png" />
            }
        </div>
      
        <div class="streak-content">
            <h4>Streak :@Model.Streak</h4>
        </div>

        <div class="text-center message-content">
            <h3>@Model.Message</h3>
            <h1>@Model.ComputerMove</h1>
        </div>
        

        @if (Model.HeartCount < 1) 
        {
            @await Html.PartialAsync("ResetFormPartial")
        }
        else
        {
            @await Html.PartialAsync("UserMoveFormPartial")
        }

    </div>
</div>