<header class="shadowq">
    <nav class="text-center navbar ">
        <div class="container justify-content-center">
            <a class="text-decoration-none" asp-action="Index" asp-controller="Home"><h1 class=" text-light">Welcome</h1></a>
        </div>
    </nav>
</header>