<form class="d-flex flex-column align-items-center justify-content-center form-center" asp-action="RPS" asp-controller="Play" method="post">
    <h2 class="text-center">Start?</h2>
    <select name="playerMove">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
    </select>

    <button type="submit">RPS?</button>
</form>

