<form class="flex-column d-flex align-items-center justify-content-center" asp-action="RPS" asp-controller="Play" method="post">
    <select name="playerMove">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
    </select>

    <button type="submit">RPS?</button>
</form>
