<div class="center-container text-center">
    <ol class="fs-1">
        <li><a class="text-muted" asp-action="Index" asp-controller="Play">Play</a></li>
        <li><a class="text-muted" asp-action="Profile" asp-controller="Home">Profile</a></li>
        <li><a class="text-muted" asp-action="Login" asp-controller="Auth">Sign</a></li>
    </ol>
</div>
