html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: black;
    font-family: "Jacquarda",sans-serif;
}

@font-face {
    font-family: "Jacquarda";
    font-style: normal;
    src: url('../fonts/Jacquarda_Bastarda_9/JacquardaBastarda9-Regular.ttf')
}

.shadowq {
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2);
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-container ol {
     list-style-type: none;
     padding: 0;
}

.center-container li {
    margin-bottom: 20px;
}

.center-container a {
    font-size: 24px;
    color: #6c757d;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    transition: color 0.3s ease;
    }

.center-container a::before {
    content: ">";
    position: absolute;
    left: -20px;
    top: 0;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.center-container a:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.center-container a:hover {
    color: #000;
}

.validation-summary-errors ul {
    list-style:none;
    padding:0;
}

.label-color {
    color:maroon;
}

.status-bar {
    flex-grow:1;
}

.reg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
